body {
	margin-top: 15px;
	background-color: #282c34;
	min-height: 100vh;
	color: white;
}

.contentWrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.pinCard {
	padding: 5px 10px;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #212225;
	font-size: 12px;
	width: 100%;
	background-color: #282c34;
	width: 200px;
}

.pinCard div:nth-child(1) {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.pinCard div:nth-child(2) {
	margin-bottom: 5px;
}

#pinsContainer {
	padding: 15px;
	margin-top: 1%;
	width: 100%;
	background-color: #31353f;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}